[flake8]
ignore = D205, D400
select = Q0
inline-quotes = "
exclude =
  .git
  venv
  __pycache__
  source
  outputs
  docs/*
  therapy/version.py
import-order-style = pep8
application-import-names =
  tests
  therapy
