[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pydantic = ">=1.8.2"
fastapi = ">=0.65.2"
urllib3 = ">=1.26.5"
uvicorn = "*"
click = "*"
lxml = ">=4.6.5"
boto3 = "*"
cython = "*"
owlready2 = "*"
pyparsing = "*"
rdflib = "*"
uvloop = "*"
websockets = ">=9.1"
httptools = "*"
typing-extensions = "*"
wikibaseintegrator = "==0.11.0"
ipykernel = "*"
bs4 = "*"
pyyaml = "*"
disease-normalizer = ">=0.2.12"
"ga4gh.vrsatile.pydantic" = ">=0.0.5"
chembl-downloader = "*"
bioversions = ">=0.4.3"
pystow = "*"

[dev-packages]
thera-py = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-quotes = "*"
flake8-import-order = "*"
flake8-annotations = "*"
ipython = ">=7.31.1"
jupyterlab = "*"
civicpy = "*"
mypy = "*"
types-requests = "*"
types-pyyaml = "*"
tox = "*"
