[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pre-commit = "*"
flake8 = "*"
flake8-docstrings = "*"
coverage = "*"
pytest-cov = "*"
jupyterlab = "*"
thera-py = {editable = true, path = "."}
coveralls = "*"
civicpy = "*"

[packages]
pydantic = "*"
twine = "*"
fastapi = "*"
uvicorn = "*"
click = "*"
lxml = "*"
boto3 = "*"
cython = "*"
owlready2 = "*"
rdflib = "*"
uvloop = "*"
websockets = "*"
httptools = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"
