name: checks
on: [push, pull_request]
jobs:
  test:
    name: test py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.DUMMY_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.DUMMY_AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-2
      AWS_DEFAULT_OUTPUT: text
      DISEASE_NORM_DB_URL: http://localhost:8002
      THERAPY_NORM_DB_URL: http://localhost:8002
      THERAPY_TEST: true
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python3 -m pip install ".[etl,tests]"

      - name: Build local DynamoDB
        run: |
          chmod +x ./tests/scripts/dynamodb_run.sh
          ./tests/scripts/dynamodb_run.sh

      - name: Run tests
        run: python3 -m pytest
  lint:
    name: lint py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.DUMMY_AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.DUMMY_AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: us-east-2
      AWS_DEFAULT_OUTPUT: text
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: python3 -m pip install ".[dev]"

      - name: Check style
        run: python3 -m ruff check . && ruff format --check .

  precommit_hooks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        hook:
        - "end-of-file-fixer"
        - "trailing-whitespace"
        - "mixed-line-ending"
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: ${{ matrix.hook }} --all-files
